@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swapp");

/*Main*/ 

html {
    background-color: rgba(122, 191, 191, .5);
}

body {
    margin: 0 auto;
    width: 414px;
    background-color: #F2F2F2;
}

h1, h2, h3, nav a, nav span, figcaption, menu li, #social li, footer {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
}

header {
    position: absolute;
    top: 0;  
}

/*Nav stuff*/
nav {
    grid-template-rows: 1fr 1fr;
    display: grid;
}

nav ul {
    width: 414px;
    height: 80px;
    display: grid;
    padding: 0;
    margin: 0;
    top: 0;
    justify-items: auto;
    z-index: 1;
    grid-row: 1;
    list-style: none;
    background-color: white;
    overflow: hidden;
    grid-template-rows: 80px 60px;
    grid-template-columns: repeat (7, 1fr);
}

nav #menuIcon {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

#burger {
    cursor: pointer;
    user-select: none;
}

#search {
    text-align: center;
    grid-row: 2;
    background-color: #F2F2F2;
    display:grid;
    grid-template-rows: 1fr;
    justify-content: center;
    padding: 20px;
}

#search input {
    width: 320px;
    border: 2px solid #Eb5428;
    grid-row: 1;
}

#search button {
    background-color: #Eb5428;
    border: 2px solid #Eb5428;
    grid-row: 1;
}

#search input, #search button {
    height: 45px;
    margin: 0;
}

nav #menuIcon:checked ~ nav ul {
    height: 150px;
}

nav ul img {
    width: 40px;
}

nav ul a {
    font-size: 16px;
}

nav ul li {
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 10px 0;
    transition: all .2s;
}

nav ul li:hover {
    color: white;
    background-color: #EB5428;
    transform: scale(1.2, 1.2);
}

nav ul li svg {
    transition: all .2s;
}

nav ul li svg:hover {
    stroke: #F2F2F2;
    transform: scale(1.2, 1.2);
}

nav ul li:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

nav ul li:first-child + li {
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: #EB5428;
    width: 200px;
}

nav ul li:last-child {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-top: 150px;
    padding: 10px;
}

menu {
    text-align: center;
    width: 414px;
    padding: 0;
    margin: auto;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;    
}

menu li a {
    color: #Eb5428;
    transition: all .2s;
}

menu li a:hover {
    color: #F2F2F2;
    background-color: #EB5428;
}

h3 {
    font-size: 25px;
}

nav a, nav span, figcaption, menu li, #social li, footer {
    font-size: 20px;
}

p, dd, li, nav, input {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

dt {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

[src*="street-tacos"] {
    width: 414px;
}

#details dl {
    margin: 0 10px;
    line-height: 1.5;
}

#details dt {
    display: inline-block;
}

#details dd {
    display: inline;
}

#details dd:after {
    display: block;
}

h2 {
    margin: 5px;
    font-size: 30px;
    text-align: center;
}

main p {
    margin: 5px;
    line-height: 1.5;
}