@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swapp");

/* Main Styles */
html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: rgba(122, 191, 191, .5);
    padding: 0;
    width: 1280px;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-family: "Bebas Neue", Arial, sans-serif;
}

p, p1, p2 {
    font-family: "Montserrat", Arial, sans-serif;
}

/*Navigation*/
#main-nav {
    width: 414px;
    height: 125px;
    margin-top: -40px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 1;
    text-transform: uppercase;
    font-size: 20px;
}

#main-nav h2 {
    visibility: hidden;
    height: 1px;
}

#mainNav li {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    color: #EB5428;
}

#mainNav a {
    text-decoration: none;
    color: #EB5428;
}

#mainNav ul{
    margin: 0;
    padding: 0;
    max-height: 0px;
    color: #EB5428;
    overflow: hidden; 
    transition: max-height .2s ease-out;  
}
 
#main-nav ul {
    text-align: center;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
} 
 
#main-nav li a {
    display: block;
    padding: 20px 20px;
    margin-bottom: 2px;
    text-decoration: none;
    color: #EB5428;
}

#main-nav label span:before, #main-nav label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

#main-nav label span:before {
    top: 5px;
}

#main-nav label span:after {
    top: -5px;
}

#main-nav input {
    display: none;
}

#main-nav input:checked ~ ul {
    max-height: 500px;
}

#main-nav input:checked ~ label span {
    background: transparent;
}

#main-nav input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

[href="#home"] {
    position: absolute;
    top: 2px;
    transform: translate(-50%, -50%);
    cursor: default;
}

.icon-tabler-tools-kitchen {
  background-color: #EB5428;
  position: absolute;
  top: 33px;
  padding: 20px 80px;
  left: 115px;
  margin: 10px;
}

.avatar {
  position: absolute;
  top: 92px;
  right: 10px;
}

.icon-tabler-user-circle {
  stroke: #EB5428;
  position: absolute;
  top: 50px;
  right: 27px;
}

#main-nav a:hover, #main-nav input:hover{
  background-color: #7abfbf;
  color: #FFFFFF;
}

.menu {
  margin-top: -50px;
  margin-left: -50px;
}

.breakfast, .brunch, .lunch, .dinner, .appetizers, .desserts, .beverages {
    display: none;
}
.search-bar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 120px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.search-bar input {
    border: 3px solid #EB5428;
    padding: 5px;
    background-color: #FFFFFF;
    width: 250px;
}

button {
    background-color: #EB5428;
    border-style: none;
    cursor: pointer;
}

.icon-tabler-search {
   stroke: #FFFFFF;
}

.hamburger-icon {
    position: relative;
    width: 100%;
    top: 10px;
    left: 20px;
}

.hamburger-hover:hover {
    width: 40px;
    height: 50px;
}
.main_nav #main-nav {
    visibility: hidden;
}

.main_nav {
    font-family: "Bebas Neue";
    justify-content: center;
    background-color: white;
    position: absolute;
    display: flex;
    padding-bottom: 50px;
    width: 1280px;
    top: 2px;
}

.main-nav {
    display: none;
}

.main_nav ol {
    position: absolute;
    display: flex;
    right: 20%;
}

.main_nav li {
    float: left;
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
    padding-top: 0px;
}

.main_nav a {
    display: block;
    text-align: center;
    font-weight: bold;
    color: #eb5428;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.main_nav h2 {
    visibility: hidden;
}

main {
    height: auto;
    weight: auto;
    background-color: white;
    width: 1280px;
}

.logo {
    background-color: #eb5428;
    position: absolute;
    height: 100px;
    width: 100px;
    top: -16px;
    left: -214px;
}

.logo svg {
    position: absolute;
    top: 28px;
    right: 40px;
}

.logo a {
    position: absolute;
    display: hidden;
}

.sign_in {
    position: absolute;
    top: 0px;
    right: -205px;
}

.sign_in svg {
    width: 70px;
    height: 70px;
}

.search {
    position: relative;
    left: 470px;
    top: -1950px;
}

.search input {
    border-color: #eb5428;
    width: 320px;
    height: 48px;
}

.search svg {
    background-color: #eb5428;
    position: relative;
    top: 23px;
    width: 50px;
    height: 57px;
}

#tacos {
    position: relative;
    top: 190px;
    width: 460px;
    height: 580px;
    left: 170px;
}

.street-tacos menu {
    position: absolute;
    border-style: solid;
    border-color: #eb5428;
    background-color: white;
    list-style-type: none;
    top: 350px;
    width: 100px;
    height: 580px;
}

.street-tacos svg {
    position: relative;
    margin-bottom: 30px;
}

.street-tacos a {
    font-family: "Bebas Neue";
    text-decoration: none;
    position: relative;
    color: #eb5428;
    left: -40px;
}

.street-tacos h2 {
    position: relative;
    top: 180px;
    left: 520px;
    font-size: 30px;
}

.street-tacos p {
    font-size: 16px;
}

.street-tacos #p1, #p2 {
    position: relative;
    width: 600px;
    right: -630px;
    top: -425px;
    margin: 34px;
}

.details {
    top: -90px;
    height: 150px;
    background-color: black;
    position: relative;
    color: #7abfbf;
}

.details h3 {
    position: relative;
    margin: auto;
    font-size: 25px;
    right: -575px;
    top: 32px;
}

dl {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100px;
    margin-top: -60px;
    margin-left: 110px;
    top: -20px;
}

dt {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    width: 210px;
    left: -60px;
    top: 55px;
}

dd {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    display: inline-block;
    width: 210px;
    left: -100px;
    top: 80px;
}

.ingredients {
    position: relative;
    left: 60px;
    top: -80px;
}

.ingredients li {
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
    font-size: 16px;
}

.ingredients h3 {
    font-family: "Bebas Neue";
    font-size: 25px;
}

.directions {
    position: relative;
    width: 900px;
    top: -400px;
    right: -300px;
}

.directions li {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.directions h3 {
    position: relative;
    font-family: "Bebas Neue";
    right: -400px;
    font-size: 25px;
}

.dishes {
    background-color: #7abfbf;
    position: relative;
    height: 400px;
    top: -300px;
}

.dishes div {
    display: inline-block;
    position: relative;
    width: 100px;
    margin-top: -40px;
    margin-left: 190px;
    top: 60px;
    left: -100px;
}

.dishes h3 {
    font-family: "Bebas Neue";
    position: relative;
    text-align: center;
    top: 20px;
    font-size: 25px;
    margin: 0;
}

.dishes dt {
    position: relative;
    left: -110px;
    top: 10px;
}

.dishes dd {
    left: -140px;
    top: 30px;
}

.dishes img {
    padding: 10px;
}

.socials li {
    display: inline-block;
    position: relative;
    width: 100px;
    margin-left: 50px;
    top: 50px;
    left: 500px;
}

.socials h3 {
    visibility: hidden;
}

.socials svg {
    position: relative;
    top: -400px;
    left: 30px;
}

.socials #yt, #tt {
    position: relative;
    top: -400px;
}

.socials a {
    font-family: "Bebas Neue";
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #eb5428;
    position: relative;
    top: -480px;
    font-size: 20px;
}

footer img {
    position: relative;
    width: 240px;
    height: 240px;
    top: -550px;
    left: 50px;
}

footer p {
    font-family: "Bebas Neue";
    position: relative;
    margin: auto;    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    top: -460px;
    left: 320px;
}

/*Media Query Styles*/

@media screen and (max-width:414px) {
    
body {
    width:414px;
}

.icon icon-tabler icon-tabler-download
}
