@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swapp");

html {
    background-color: rgba(122, 191, 191, .5);
}

body {
    margin: 0 auto;
    width: 414px;
    background-color: #F2F2F2;
}

h1, h2, h3, nav a, nav span, figcaption, menu li, #social li, footer {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
}

header {
    position: absolute;
    top: 0;  
}

nav {
    grid-template-rows: 1fr 1fr;
    display: grid;
}